* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.html{
    scroll-behavior: smooth;
}
.header{
    z-index: 1;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    background-color:transparent;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logo .profilepic{
    width: 40px;
    height: auto;
    object-fit: cover;
    transition: .4s;
}
.logo .profilepic:hover{
    scale: 4;
    transform: translate(20px , 30px);
}
.navbar a{
    position: relative;
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 20px;
    padding:.9dvw;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 90%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #d0cbcb;
    transition: .3s;
}
.navbar a:hover::before{
    width: 100%;
}
.firstpage{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background: url(./assets/backgroundnew.jpg);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    margin: 0;
}
.firstpage .maincontent h1{
    position:relative;
    text-align: left;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 10rem;
    color: white;
    top: 10rem;
    left:15rem;
    line-height: .8;
    font-family: 'Arial', sans-serif; 
    margin: 0;
}
.firstpage .maincontent .subheading{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    top: 10rem;
    left:27rem;
    text-align: right;
    line-height: 1.9;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
}
.firstpage .maincontent .aboutheading{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    top: 33rem;
    left:0 ;
    margin-left: 3rem;
    text-align:left;
    max-width: 400px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
}
.secondpage{
    position: relative;
    background: url(./assets/Skillsbackground.png);
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    overflow-x: hidden;
    margin: 0;
}
.secondpage .skillcontent h1{
    position: absolute;
    display: flex;
    justify-content:center;
    align-items:center;
    color: white;
    font-size: 7rem;
    padding: 10px 10px;
    font-family: 'Montserrat' , sans-serif;
    font-weight: 200;

}
.secondpage .skillcontent .frontend{
    position:relative;
    display: flex;
    top: 10rem;
    justify-content:center;
    align-items:center;
    color: white;
    font-size: 2.2rem;
    font-family: "Encode sans semi Expanded", sans-serif;
    font-weight: 500;
}
.fronticon{
    position: relative;
    top: 10rem;
    display: flex;
    justify-content: space-around; /* Distribute items evenly with space between */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap;
    gap: 0;
}
.fronticon .icon-item {
    display: flex;
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center items horizontally */
    text-align: center;
    margin: 10px;
}
.fronticon .icon-item img{
    width: 60px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 5px;
}
.fronticon .icon-item h1{
    color: white;
    font-size: 1rem;
}
.secondpage .backend{
    position:relative;
    display: flex;
    top: 12rem;
    justify-content:center;
    align-items:center;
    color: white;
    font-size: 2.2rem;
    font-family: "Encode sans semi Expanded", sans-serif;
    font-weight: 500;
}
.backendicon{
    position: relative;
    top: 12rem;
    display: flex;
    justify-content: space-around; /* Distribute items evenly with space between */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap;
    gap: 0;
}
.backendicon .icon-item {
    display: flex;
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center items horizontally */
    text-align: center;
    margin: 10px;
}
.backendicon .icon-item img{
    width: 60px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 5px;
}
.backendicon .icon-item h1{
    color: white;
    font-size: 1rem;
}
.secondpage .versioncontrol{
    position:relative;
    display: flex;
    top: 12rem;
    justify-content:center;
    align-items:center;
    color: white;
    font-size: 2.2rem;
    font-family: "Encode sans semi Expanded", sans-serif;
    font-weight: 500;
}
.version{
    position: relative;
    top: 12rem;
    display: flex;
    justify-content: space-around; /* Distribute items evenly with space between */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap;
    gap: 0;
    
}
.version .icon-item {
    display: flex;
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center items horizontally */
    text-align: center;
    margin: 10px;
}
.version .icon-item img{
    width: 50px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 5px;
}
.version .icon-item h1{
    color: white;
    font-size: 1rem;
}
.thirdpage{
    position: relative;
    background: url(./assets/Skillsbackground.png);
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    overflow-x: hidden;
    margin: 0;
}
.thirdpage .projectheading{
    position: absolute;
    display: flex;
    justify-content:center;
    align-items:center;
    color: white;
    font-size: 7rem;
    padding: 10px 10px;
    font-family: 'Montserrat' , sans-serif;
    font-weight: 200;
}
.thirdpage .gallerytoon{
    position:relative;
    display: flex;
    top: 12rem;
    justify-content:center;
    align-items:center;
    color: white;
    font-size: 2.5rem;
}
.container{
    position: relative;
    padding: 2rem;
    top: 6rem;
    left: 0;
    right: 0;
    bottom: 0;
}
.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.slider{
    position: absolute;
    display: flex;
    aspect-ratio: 16/9;
    scale: .6;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.7rem;
    -webkit-overflow-scrolling: touch;
}
.slider::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
.slider img {
    flex:10 100%;
    scroll-snap-align: start; 
    object-fit:contain;
}
.slider-nav {
    position: absolute;
    display: flex;
    column-gap: 1rem;
    position: absolute;
    top: 23rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.slider-nav a {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 1;
    transition: opacity ease 1000ms;
}
.slider-nav a:hover {
    opacity: 100%;
}
.description{
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
    color: white;
    top: 25rem;
}
.description h2{
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
}
.description a{
    position: absolute;
    display: flex;
    justify-content:center;
    align-items:center;
    top: 5rem;
    right: 0;
    left: 0;
    font-size: 1.5rem;
    color: white ;
    text-decoration: none;
}
.fourthpage{
    position: relative;
    background: url(./assets/Skillsbackground.png);
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    overflow-x: hidden;
    margin: 0;
}
.fourthpage .achiheading{
    position: absolute;
    display: flex;
    justify-content:center;
    align-items:center;
    color: white;
    font-size: 7rem;
    padding: 10px 10px;
    font-family: 'Montserrat' , sans-serif;
    font-weight: 200;
}
.fourthcontainer {
    position: absolute;
    top:18rem;
    left: 5rem;
    display: flex;
    gap: 5rem; 
    padding: 10px; 
    justify-content: space-around; /* Distribute items evenly with space between */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap;
}
.achievement-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}
.achievement-item img {
    width: 300px;
    border-radius: 1.5rem;
    height: auto;
    aspect-ratio: 3 / 2;
    object-fit: contain;
}
.achievement-item h2 {
    margin-top: 20px;
    color: white; 
    font-size: 1.2rem;
    font-family: "Encode Sans Semi Expanded", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.fifthpage{
    position: relative;
    background: url(./assets/Skillsbackground.png);
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    overflow-x: hidden;
    margin: 0;
}
.fifthpage .contactcontent{
    position: relative;
    display: flex;
    align-items: left;
}
.fifthpage .contactcontent img{
    position: relative;
    top: 0rem;
    left: 10rem;
    width: 28rem;
}
.fifthpage .contactcontent h1{
    position: absolute;
    font-size: 8rem;
    top: 3rem;
    right: 10rem;
    color: white;
    font-family: 'Montserrat' , sans-serif;
    font-weight: 200;
}
.contactform{
    position: absolute;
    display: flex;
    bottom: 7rem;
    left: 55rem;
    border-radius: 2rem;
    width: 30rem;
    padding: 20px;
    background: #ffffff;
}
.contactform h2{
    font-size: 30px;
    color:#6a6767;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox textarea ,
.contactform .inputbox input{
    min-width: 25rem;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .3s;
    color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span
{
    color:#e91e63;
    font-size: 13px;
    transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.socialmedia{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 37rem;
    gap: 30px;
    left: 17rem;
}
.socialmedia img{
    width: 2rem;
    height: auto;
    aspect-ratio: 4/3;
    object-fit: contain;
    opacity: .7;
    transition: .3s;
    text-decoration: none;
}
.socialmedia img:hover{
    opacity: 1;
    scale: 1.6;
}
.footer{
    position:relative;
    top:0;
    background-color: #747474;
    width: 100%;
    padding: 6px;
}
.footer h3{
    text-align: center;
    color: white;
    font-family: "Encode Sans Semi Expanded", sans-serif;
    font-weight: 600;
    font-style: normal;
}



